# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Virtual Environments
.env
.venv
env/
venv/
ENV/

# SQLite / Database
*.db
*.sqlite3

# Uploaded user files
medikiosk-backend/uploads/*
!medikiosk-backend/uploads/.gitkeep

# IDE & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
